.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App a {
  color: #61dafb;
}

.App-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  background: #323743;
  color: white;
  animation: App-logo-spin infinite 5s linear;
  cursor: pointer;
}
/*
@keyframes App-logo-spin {
  0% {
    box-shadow: 0 0 7px 0 rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.5);
  }
} */
